[Unit]
Description=Populate cockroach with users and databases needed for the job library
After=cockroach.service

[Service]
Type=oneshot
User=cockroach
ExecStart=/cloudtrust/cockroach-tools/bin/python /cloudtrust/cockroach-tools/cockroach_execute_script.py \
	  --sql-script /cloudtrust/cockroach-scripts/jobs.sql --sql-script-rollback /cloudtrust/cockroach-scripts/jobs.sql.rollback
ExecStart=+/bin/systemctl disable cockroach_init 
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
