[Unit]
Description=Keycloak bridge daemon
After=network.target

[Service]
Type=simple
User=keycloak
Group=keycloak
ExecStart=/opt/keycloak-bridge/keycloak_bridge --config-file=/opt/keycloak-bridge/conf/keycloak_bridge.yml

[Install]
WantedBy=multi-user.target
