[Unit]
Description=Create Postgresql keycloak user
After=postgresql.service

[Service]
Type=oneshot
User=postgres
ExecStart=/bin/psql -c "CREATE USER keycloak WITH PASSWORD 'keycloak';"
ExecStart=/bin/psql -c "CREATE DATABASE keycloak;"
ExecStart=/bin/psql -c "GRANT ALL ON DATABASE keycloak TO keycloak;"
ExecStart=+/bin/systemctl disable postgresql_init_keycloak 
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
