[Unit]
Description=Create sentry default user
After=sentry-web.service

[Service]
Type=oneshot
Environment=SENTRY_CONF=/etc/sentry
ExecStart=/bin/sentry upgrade --noinput
ExecStart=/bin/sentry createuser --email admin@cloudtrust.com --password admin --superuser
ExecStart=/bin/sentry import /etc/sentry/sentry.json
ExecStart=+/bin/systemctl disable sentry_init 
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
